.section-header {
  display: block;
  position: relative;
  margin-top: -@main-header-height;
  height: calc(-@main-header-height + @section-min-height);

  &-container {
    &, .row {
      height: 100%;
    }
  }

  .card {
    padding: 60px;
    background-color: fade(@brand-white, 95%);
    max-height: 220px;
    min-width: 270px;

    .card-text {
      font-size: 1.5rem;
      color: @gray;
    }
  }
}
