.section-content {
  background-color: @brand-white;
  padding-top: @brand-padding-xl;
  padding-bottom: @brand-padding-xl;

  .item-page-0 {
    opacity: 0;

    &.opacity {
      opacity: 1;
    }
  }

  .wp-block-columns > .wp-block-column {
    transition: @brand-transition-duration-med;
    opacity: 0;

    &.opacity {
      opacity: 1;
    }
  }
}
