html, body {
  height: 100%;
  font-size: @font-size;
  color: @text-color;
}

h1, h2, h3 {
  text-transform: uppercase;
}

h1 {
  margin: 0;
  font-size: 1.3rem;
  letter-spacing: 3px;
}

h2 {
  letter-spacing: 2px;
  font-size: 2rem;
  line-height: 2rem;
}

h3 {
  font-size: 1.2rem;
}

button {
  border: none;
  border-radius: 0;
  padding: 8px 12px 8px 14px;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
  margin: 0 0 5px;
  display: inline-block;
  color: @text-color;
  transition: 0.2s;
  background-color: transparent;

  &:focus {
    outline: 0;
  }

  &.active, &:enabled:hover {
    background-color: @gray-light;
    color: @text-color;
    border: none;
    outline: 0;
  }
}