/** LIBRARY OVERRIDES **/

.card-body {
    padding: 1rem;
}

button.button.p-button.oxum-button {
    //** IN ORDER TO INCREASE THE SPECIFICITY OF BUTTONS **//
    &:extend(.button);

    &:hover {
        &:extend(.button.active);
    }
}

.wp-block-button__link {
    &:extend(.button);

    &:hover, &:active {
        &:extend(.button.active);

        &:after {
            display: none;
        }
    }

    &:visited {
        color: @text-color;
    }
}


.artwork-ui {
    position: relative;

    .link:not(.no-transition):after {
        display: none;
    }

    button.p-highlight {
        &:extend(button.active);
    }

    .p-galleria {
        &-mask {
            background-color: fade(@brand-black, 90%);

            .pi {
                font-size: 32px;
                color: @brand-white;
            }
        }

        &-thumbnail-container {
            .pi {
                font-size: 1.3rem;
            }
        }

        &-item-nav, &-thumbnail-next, &-thumbnail-prev {
            &.p-link {
                background: transparent;
            }
        }

        .p-galleria-close {
            background: transparent;
        }
    }

    .portfolio {
        > div {
            transition: @brand-transition-duration-med;
        }

        &__filter--wrapper {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
        }

        &__filter__buttons--wrapper,
        &__filter__select--wrapper {
            display: inline-block;
            width: auto;
            margin-bottom: 24px;
        }

        &.filtered, &.all, &.page-has-changed {
            .item-in-view {
                opacity: 1;
                //Important in order to override visibility set by uikit library
                visibility: visible !important;
            }
        }
    }

    .p-autocomplete {
        margin-left: 12px;

        .p-autocomplete-loader {
            right: 40px;
        }

        .p-button {
            margin: 0;

            .p-button-icon {
                color: @brand-gray;
            }

            .p-button-label {
                display: none;
            }
        }

        .p-autocomplete-panel {
            background-color: fade(@brand-white, 97%);
            box-shadow: @brand-shadow;
            top: 35px !important; //important the inline style
            border-radius: 3px;
            border: 1px solid @brand-gray-light;
            min-width: 250px;

            .p-autocomplete-item {
                font-size: 1.5rem;
                padding: 1.2rem;

                &:hover {
                    &:extend(.button.active);
                }
            }
        }
    }
}
